.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 60px;
  padding-bottom: 80px;
  z-index: 0;
}
@media (min-width: 768px) {
  .newsletter {
    display: block;
  }
}
.newsletter .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: -1;
}
.newsletter .container {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .newsletter .container {
    display: flex;
  }
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form {
  display: flex;
}
.newsletter .container form input {
  display: flex;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  margin-right: 20px;
}
.newsletter .container form .error {
  color: red;
  border: 1px solid red;
  background-color: rgb(218, 133, 133);
  display: block;
}
.newsletter .container form span {
  padding: 10px;
  font-size: 0.8em;
  color: red;
  position: absolute;
}