.newsletter {
    

    @media (min-width: 768px) {
        display: block;
    }


   position: relative;
   background-color: #F0EFE9;
   padding-top: 60px;
   padding-bottom: 80px;
   z-index: 0;
 
   
    .background-wavy-lines {
        position: absolute;
        bottom: 50px; 
        right: 0;
        z-index: -1;
    }
  
    
    .container {

        @media (min-width: 768px) {
            display: flex;
        }
        
        justify-content: space-between;
        align-items: center;
        

        h2 {
            font-family: 'DM Sans', sans-serif;
            font-size: 45px;
            font-weight: 700;
        }
        
        form {
           display: flex;


            input {

                color: #191919;
                text-decoration: none;
                padding: 15px 30px;
                font-weight: 600;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #1919191a;
                margin-right: 20px;

            }

            .error {
                color: red;
                border: 1px solid red;
                background-color: rgb(218, 133, 133);
                display: block;
            }
            
            span {
                padding: 10px;
                font-size: 0.8em;
                color: red;
                position: absolute;
                
            }

            
        }
    }
}