.background {
    background-color: #F0EFE9;
    position: relative;
}

.intro {
        
    display: flex;
    justify-content: center;
    z-index: 1;
    
    
    .links {
        padding-top: 100px;
        padding-bottom: 20px;

        a {
            
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin: 7px;
            position: relative;

            &:hover {
                font-weight: 500;
            }
            

            &.active {
                font-weight: 500;
            }

            &.active::after,

            &:hover::after {
                content: "";
                position: absolute;
                font-weight: 500;
                height: 2px;
                width: 15px;
                left: 50%;
                bottom: -3px;
                transform: translate((calc(50% - 15px)));
            }                       
        }
       
        

        
    }
   
} 

.connect {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    
    h1 {
        z-index: 1;
     
    }

    .background-lines {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;   
        display: block;
    }

}

