.error-img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-notfound {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #191919;
  bottom: 100px;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
  left: 0;
  right: 0;
  z-index: 1;
}
.btn-notfound:hover {
  background-color: rgb(87, 207, 83);
  border: 1px solid #191919;
  color: #191919;
}