@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 35px;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.browse-services {
  align-items: center;
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 35px;
  font-size: 16px;
  
  margin-top: 45px;
}


.browse-services i {
  margin-left: 10px;
}
.browse-services:hover {
  background-color: #191919c7;
  border: 1px solid #F9D783;
  color: #ffffff;
}


