.information .background {
  background-color: #F0EFE9;
  margin-top: 60px;
  padding-top: 140px;
  padding-bottom: 100px;
  margin-bottom: 120px;
}
.information .background .headline {
  text-align: center;
}
.information .message-boxes {
  display: block;
}
.information .message-boxes form {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
}
.information .message-boxes form .error {
  color: red;
  border: none;
  background-color: rgb(218, 133, 133);
}
.information .message-boxes form span {
  margin-left: 10px;
  font-size: 0.8em;
  color: red;
  display: block;
  position: absolute;
}
.information .message-boxes input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-top: 25px;
}
.information .message-boxes .your_message {
  border: 1px solid black;
  padding-bottom: 160px;
}
.information .btn-yellow {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  width: 80%;
  text-align: center;
}