.information {

    .background {
        background-color: #F0EFE9;
        margin-top: 60px;
        padding-top: 140px;
        padding-bottom:  100px;
        margin-bottom: 120px;
        
        
        .headline {
            text-align: center;
            
            
        }


    }

    .message-boxes {
        
        display: block;
        
        

        form {
            margin: 0 auto;
            margin-top: 10px;
            width: 80%;
           
            
        }
        
        input {
            
            width: 100%;
            padding: 12px;
            border-radius: 25px;
            border: none;

            
            
        }
        .your-message {
            border: 1px solid black;
            padding-bottom: 160px;
            
            
            
        }
        

    }

    .btn-yellow {
        display: block;
        margin: 0 auto;
        margin-top: 45px;
        width: 80%;
        text-align: center;
    }

}