.information {

    .background {
        background-color: #F0EFE9;
        margin-top: 60px;
        padding-top: 140px;
        padding-bottom:  100px;
        margin-bottom: 120px;
        
        
        .headline {
            text-align: center;
            
            
        }


    }

    .message-boxes {
        
        display: block;
        
        
        

        form {
            margin: 0 auto;
            margin-top: 10px;
            width: 80%;

            .error {
                color: red;
                border: none;
                background-color: rgb(218, 133, 133);
            }
            
            span {
                margin-left: 10px;
                font-size: 0.8em;
                color: red;
                display: block;
                position: absolute;
                
              
                
            }
           
            .logdata {
                animation-duration: 25ms;
                font-size: 1em;
                margin-top: 20px;
                color: #191919;
            }
            
        }
        
        input {
            
            width: 100%;
            padding: 12px;
            border-radius: 25px;
            border: none;
            margin-top: 25px;

            
            
        }
        .message {
            border: 1px solid black;
            padding-bottom: 160px;
            
            
            
        }
        

    }

    .btn-yellow {
        display: block;
        margin: 0 auto;
        margin-top: 45px;
        width: 80%;
        text-align: center;
    }

}